body.active_admin.logged_in {
  padding-top: 50px;

  @media screen and (min-width: $sm-width) {
    padding-top: 60px;
  }

  @media screen and (min-width: $lg-width) {
    padding-left: $header-width;
  }

  @media screen and (min-width: $x-lg-width) {
    padding-left: $lg-header-width;
  }

  #active_admin_content {
    padding: 20px 0;
    @include clear-fix();

    @media screen and (min-width: $lg-width) {
      padding: 20px 25px;
    }
  }
}

.header {
  .site_title {
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-background;
    border-bottom: 1px solid $header-border-color;
    text-align: center;
    margin: 0;

    @media screen and (min-width: $sm-width) {
      width: $header-width;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
    }

    @media screen and (min-width: $x-lg-width) {
      width: $lg-header-width;
    }

    #site_title_image {
      height: 100%;
      padding: 6px 0;
    }
  }

  #utility_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: calc(100% - 160px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;
    background-color: $header-background;
    border-bottom: 1px solid $header-border-color;

    &:before {
      @include icon($icon-menu);

      display: inline;
      visibility: visible;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      color: $text-color;
      padding: 15px 0;
      text-align: center;
      width: 40px;
      font-size: 20px;
    }

    @media screen and (min-width: $sm-width) {
      height: 60px;
      width: $screen-header-width;

      &:before {
        padding: 20px 0;
      }
    }

    @media screen and (min-width: $lg-width) {
      &:before {
        display: none;
      }
    }

    @media screen and (min-width: $x-lg-width) {
      width: $lg-screen-header-width;
    }

    li {
      display: inline-block;
      @include transition-button();

      &:hover {
        background-color: $header-nav-action-hover-background;
      }

      &:active {
        background-color: $header-nav-action-active-background;
      }
    }

    #current_user {
      a {
        color: transparent;
        position: relative;
        width: 50px;
        height: 49px;
        display: inline-block;

        &:before {
          @include icon($icon-user);

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $text-color;
          padding: 15px 0;
          text-align: center;
          width: 50px;
          font-size: 20px;
        }

        @media screen and (min-width: $sm-width) {
          width: 60px;
          height: 59px;

          &:before {
            padding: 20px 0;
            width: 60px;
          }
        }
      }
    }

    #logout {
      min-width: 50px;
      min-height: 49px;
      float: right;

      a {
        color: transparent;
        position: relative;
        width: 50px;
        display: block;

        &:before {
          @include icon($icon-logout);

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $text-color;
          padding: 15px 0;
          text-align: center;
          width: 50px;
          font-size: 20px;
        }

      }

      @media screen and (min-width: $sm-width) {
        min-width: 60px;
        min-height: 59px;

        a {
          width: 60px;
          height: 59px;

          &:before {
            padding: 20px 0;
            width: 60px;
          }
        }
      }
    }
  }
}

#title_bar {
  background-color: #fff;
  @include box-shadow($box-shadow-card);
  margin: 15px 0 0 0;
  padding: 12px 15px;
  @include clear-fix();
  border-radius: $border-radius-small;

  @media screen and (max-width: $sm-width) {
    padding: 10px 12px;
    margin: 10px 0 0 0;
  }

  @media screen and (min-width: $lg-width) {
    padding: 12px 24px;
    border-radius: $border-radius-card;
    margin: 15px 25px 0 25px;
  }

  #titlebar_left {
    display: inline-block;
    float: left;
    line-height: 32px;

    @media screen and (max-width: $sm-width) {
      line-height: 28px;
      width: 100%;
      float: none;
      margin-bottom: 10px;
    }

    h2 {
      display: inline-block;
      font-size: 18px;
      font-weight: 800;
      color: $indigo-dark;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media screen and (max-width: $sm-width) {
        font-size: 16px;
        letter-spacing: 0.5px;
      }
    }
  }

  #titlebar_right {
    display: inline-block;
    float: right;

    @media screen and (max-width: $sm-width) {
      float: none;
      width: 100%;
    }

    .action_item a {
      background: linear-gradient(135deg, $indigo 0%, $indigo-dark 100%);
      color: #fff;
      border: none;
      border-radius: $border-radius-button;
      padding: 8px 16px;
      font-weight: 600;
      box-shadow: $box-shadow;
      transition: all 0.3s ease;
      display: inline-block;

      @media screen and (max-width: $sm-width) {
        padding: 8px 14px;
        font-size: 13px;
        width: 100%;
        text-align: center;
        margin-bottom: 6px;
      }

      &:hover {
        box-shadow: $box-shadow-hover;
        transform: translateY(-2px);

        @media screen and (max-width: $md-width) {
          transform: none;
        }
      }
    }
  }

  #page_title {
    font-weight: 800;
    margin: 0;
    color: $indigo-dark;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (max-width: $sm-width) {
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}