// Enhanced breakpoint system for smart mobile adaptation
$xs-width: 375px !default; // Small phones (iPhone SE, etc)
$sm-width: 576px !default; // Large phones
$md-tablet: 640px !default; // Tablets portrait
$md-width: 768px !default; // Tablets landscape
$lg-width: 992px !default; // Desktop
$x-lg-width: 1400px !default; // Large desktop

// Breakpoint reference:
// <375px  Extra extra small (very small phones)
// ≥375px  Extra small (most phones)
// ≥576px  Small (large phones)
// ≥640px  Medium tablet (tablets portrait)
// ≥768px  Medium (tablets landscape)
// ≥992px  Large (desktop)
// ≥1400px Extra large (large desktop)

// Mobile-first mixins for easier responsive development
@mixin mobile-only {
    @media screen and (max-width: #{$sm-width - 1}) {
        @content;
    }
}

@mixin tablet-portrait {
    @media screen and (min-width: $md-tablet) and (max-width: #{$md-width - 1}) {
        @content;
    }
}

@mixin tablet-and-below {
    @media screen and (max-width: #{$md-width - 1}) {
        @content;
    }
}

@mixin desktop-and-up {
    @media screen and (min-width: $lg-width) {
        @content;
    }
}