.label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 600;
  color: $indigo-dark;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.input {
  margin-bottom: 24px;

  &.hidden {
    margin: 0;
  }
}

#active_admin_content {
  form {
    li {
      list-style: none;
    }

    legend:not(.label) {
      margin-bottom: 28px;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $indigo-dark;
      display: block;
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 3px solid $indigo;
    }

    .error {

      input,
      select,
      textarea {
        @include input-invalid();
      }
    }

    input:not([disabled]):not([type="submit"]),
    select,
    textarea {
      &.error {
        @include input-invalid();
      }
    }

    .inline-hints {
      margin: 8px 0 20px $form-margin-left;
      font-size: $font-size;
      font-style: italic;
      color: lighten($text-color, 15%);
    }

    .inline-errors,
    label.error {
      color: $coral;
      margin-top: 8px;
      margin-bottom: 20px;
      font-size: $font-size;
      font-weight: 600;
    }

    label.error {
      display: block;
      margin-left: $form-margin-left;
    }

    .button.has_many_remove {
      @include tertiary-button($coral);
      border-radius: $border-radius-button;
      font-weight: 600;
    }

    .button.has_many_add {
      @include secondary-button($indigo);
      border-radius: $border-radius-button;
      font-weight: 600;
    }
  }

  .actions {
    .action {
      display: inline-block;
      margin-right: 12px;

      input[type="submit"] {
        line-height: 43px;
      }
    }

    .cancel {
      display: inline-block;

      a {
        color: $indigo;
        font-weight: 600;

        &:hover {
          color: $indigo-dark;
          text-decoration: underline;
        }
      }
    }
  }
}