.label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 600;
  color: $indigo-dark;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;

  @media screen and (max-width: $sm-width) {
    font-size: 11px;
  }
}

.input {
  margin-bottom: 24px;

  @media screen and (max-width: $sm-width) {
    margin-bottom: 18px;
  }

  &.hidden {
    margin: 0;
  }
}

#active_admin_content {
  form {
    li {
      list-style: none;
    }

    legend:not(.label) {
      margin-bottom: 28px;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $indigo-dark;
      display: block;
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 3px solid $indigo;

      @media screen and (max-width: $sm-width) {
        font-size: 16px;
        margin-bottom: 16px;
        padding-bottom: 10px;
        letter-spacing: 0.3px;
      }
    }

    .error {

      input,
      select,
      textarea {
        @include input-invalid();
      }
    }

    input:not([disabled]):not([type="submit"]),
    select,
    textarea {
      &.error {
        @include input-invalid();
      }
    }

    .inline-hints {
      margin: 8px 0 20px $form-margin-left;
      font-size: $font-size;
      font-style: italic;
      color: lighten($text-color, 15%);

      @media screen and (max-width: $md-width) {
        margin-left: 0;
        font-size: 13px;
      }

      @media screen and (max-width: $sm-width) {
        font-size: 12px;
        margin: 6px 0 16px;
      }
    }

    .inline-errors,
    label.error {
      color: $coral;
      margin-top: 8px;
      margin-bottom: 20px;
      font-size: $font-size;
      font-weight: 600;
    }

    label.error {
      display: block;
      margin-left: $form-margin-left;

      @media screen and (max-width: $md-width) {
        margin-left: 0;
      }
    }

    .button.has_many_remove {
      @include tertiary-button($coral);
      border-radius: $border-radius-button;
      font-weight: 600;
      @include touch-button();

      @media screen and (max-width: $sm-width) {
        width: 100%;
        margin-bottom: 10px;
        min-height: 48px;
      }
    }

    .button.has_many_add {
      @include secondary-button($indigo);
      border-radius: $border-radius-button;
      font-weight: 600;
      @include touch-button();

      @media screen and (max-width: $sm-width) {
        width: 100%;
        min-height: 48px;
      }
    }
  }

  .actions {
    .action {
      display: inline-block;
      margin-right: 12px;

      @media screen and (max-width: $sm-width) {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }

      input[type="submit"] {
        line-height: 43px;
        @include touch-button();

        @media screen and (max-width: $sm-width) {
          width: 100%;
          min-height: 48px;
          font-size: 15px;
        }
      }
    }

    .cancel {
      display: inline-block;

      @media screen and (max-width: $sm-width) {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 8px;
        padding: 12px 0;
      }

      a {
        color: $indigo;
        font-weight: 600;

        &:hover {
          color: $indigo-dark;
          text-decoration: underline;
        }
      }
    }

    // Sticky submit buttons for long forms on mobile
    @media screen and (max-width: $sm-width) {
      @include sticky-bottom-actions;
    }
  }
}